.wrapper{
    margin-top: 100px;
    margin-left: 100px;
    border: 1px solid silver;
    width: 350px;
    height: 470px;
    border-radius: 10px;
}
#name,#count{
    padding-left: 10px;
    width: 200px;
    height: 30px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px solid silver;
}
#start,#clear{
    color: white;
    width: 100px;
    height: 33px;
    border-radius: 7px;
    border:1px solid silver ;
    transition: transform 0.5s ease;
}
#start{
    background-color: rgba(71, 134, 96, 0.749);
    margin-left: 70px;
}
#clear{
    background-color: rgba(205, 55, 55, 0.749);
        margin-left: 10px;
}
.btn{
    margin-top: 30px;
    width: 80px;
    height: 35px;
    margin-left: 24px;
    border-radius: 7px;
    font-size: 15px;
    border: 1px solid silver;
    transition: transform 0.5s ease;
}
#start:hover,#clear:hover{
    transform: scale(0.9);
    color: white;
}
.btn:hover{
    transform: scale(0.95);
    background-color: black;
    color: white;
}
.score{
    margin-top: 35px;
    margin-left: 24px;
}
.restart{
    margin-top: 20px;
    margin-left: 100px;
}
#user,#comp{
    border-radius: 5px;
    border: 1px solid rgb(132, 126, 126);
    color: white;
    padding: 8px 22px;
}
#user{
    background-color: rgba(71, 134, 96, 0.749);
}
#comp{
    background-color: rgba(205, 55, 55, 0.749);
    margin-left: px;
}
#userId,#compId{
    border: 1px solid silver;
    padding: 8px ;
    border-radius: 7px;
    margin: 11px ;
}
.restart{
    background-color: rgb(103, 152, 207);
    margin-left: 80px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    border-radius: 7px;
    font-size: 15px;
    border: 1px solid silver;
    transition: transform 0.5s ease;
    text-transform:uppercase;
}
.restart:hover{
    transform: scale(0.95);
}
.result{
    border-radius: 7px;
    margin-top: 30px;
    text-align: center;
    margin-left: 80px;
    width: 200px;
    padding: 8px 0px;
    background-color: rgb(213, 228, 83);
}