#wrapper{
    display:inline-flex;
    gap: 20px;
    margin: 50px;
    border: 1px solid silver;
    padding: 30px 30px;
}
#box1{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}