body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0px;
}

#title2 {
    text-align: center;
    margin-top: 30px;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid silver;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.container {
    display: none;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid silver;
    padding-bottom: 10px;
    background: rgba(250, 203, 227, 0.365);
    transition: transform 0.5s;
}

.container:hover {
    transform: scale(0.95);
}

.show {
    display: inline-block;
}

.image1 {
    width: 280px;
    margin: 10px;
    border-radius: 10px;
}

.productName,
.rating,
.oldPrice,
.newPrice,
.newPrice2 {
    margin-left: 15px;
    text-align: left;
}

.productName {
    margin-top: -1px;
    font-size: 17px;
    font-weight: 600;
    font-family: cursive;
}

.rating,
.stock {
    color: rgb(104, 103, 103);
}

.rating {
    margin-left: 14px;
    text-align: left;
}

.newPrice {
    width: 150px;
    background-color: #ffe600;
    padding: 5px 10px;
    border-radius: 8px;
}

.oldPrice {
    color: rgb(153, 153, 153);
    font-weight: 100;
    font-size: 15px;
    text-decoration: line-through;
}

.newPrice2 {
    font-weight: bold;
    font-size: 16px;
    font-weight: 200;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffe600;
    border: 1px solid silver;
    border-radius: 10px;
    width: 250px;
    margin: 30px auto 0;
    display: block;
    transition: transform 0.2s;

}

button:hover {
    transform: scale(0.95);
}