#wrapper{
    font-family:fantasy;
    display: inline-flex;
    margin: 100px 300px;
    border: 1px solid silver;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.uzb_btn,.eng_btn{
    font-family:sans-serif;
    width: 400px;
    height: 50px;
    border: 1px solid silver;
    border-radius: 10px;
    color: blueviolet;
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 100;
    font-style:normal;
    background-color:white;
}
#text_area{
    font-size: 22px;
    font-family: sans-serif;
    display: block;
    color: rgb(124, 113, 113);
    background-color: rgba(236, 223, 207, 0.205);
    height: 250px;
    margin-top: 20px;
    width: 385px;
    border: none;
    border-radius: 10px;
    resize: none;
    padding:15px 0px 0px 15px;
    transition: 0.3s;
}
#text_area:focus{
    border: none;
    outline: none;
}
#text_area:hover{
    transform: scale(0.95);
    background-color: white;
    border: 1px solid silver;
}
#icon{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#str-2{
    margin-top: 15px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.445);
}